<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Hola</title>
    <link rel="stylesheet"
          href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <header class="w3-container w3-indigo">
      <h1>Práctica 3</h1>
    </header>
    <div class="w3-container w3-xlarge">
      <p>
        &#9786; <!-- Carita feliz -->
        ¡Hola, <%= nombre %>!
        &#9785; <!-- Carita triste -->
      </p>
    </div>
    <hr>
    <footer class="w3-container w3-center w3-small">
      &copy; por Ariel Ortiz (A00307505)
    </footer>
  </body>
</html>
