<!DOCTYPE html>
<html>
  <head>
    <title>The Quotations Database</title>
  </head>
  <body>
    <h1>The Quotations Database</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Authot</th>
        <th>Excerpt</th>
      </tr>
      <% for (const row of rows) { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.author %></td>
          <td><%= row.excerpt %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>